<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper news</title>
</head>
<body>
    <h2>Hyper news</h2>
    {% regroup news_items by created as created_list %}
    {% for created in created_list %}
    <h4>{{ created.grouper }}</h4>
    <ul>
        {% for news_item in created.list %}
        <li><a href="/news/{{news_item.link}}/">{{news_item.title}}</a></li>
        {%  endfor %}
    </ul>
    {% endfor %}
    <p><a href="/news/create/">Create a news item</a></p>
</body>
</html>
